{# {% extends 'base.html.twig' %} #}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <link href="{{asset('css/index.css') }}" rel="stylesheet">
    <link href="{{asset('css/registration.css') }}" rel="stylesheet">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="form">

    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
