{% extends 'backoffice/base.html.twig' %}

{% block title %}Remboursement index{% endblock %}

{% block body %}
    <h1>Liste des remboursements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Date</th>
                <th>Reponse</th>
                <th>Montant rembourse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remboursement in remboursements %}
            <tr>
                <td>{{ remboursement.id }}</td>
                <td>{{ remboursement.idRemboursement }}</td>
                <td>{{ remboursement.dateRemboursement ? remboursement.dateRemboursement|date('Y-m-d') : '' }}</td>
                <td>{{ remboursement.reponse }}</td>
                <td>{{ remboursement.montantRembourse }}</td>
                <td>
                    <div class="btn-group">
                        <form action="{{ path('app_remboursement_show', {'id': remboursement.id}) }}" method="get">
                            <button class="afficher-btn" type="submit">Details</button>
                        </form>
                        <form action="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}" method="get">
                            <button class="modifier-btn" type="submit">Modifier</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('app_remboursement_new') }}" method="get">
        <button class="ajouter-btn" type="submit">Ajouter</button>
    </form>
{% endblock %}
