{% extends 'backoffice/base.html.twig' %}

{% block title %}Assurance{% endblock %}

{% block body %}
    <h1>Assurance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ assurance.idAssurance }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ assurance.nomAssurance }}</td>
            </tr>
            <tr>
                <th>Plafond</th>
                <td>{{ assurance.plafond }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ assurance.adresseAssurance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assurance_index') }}">Retourner</a>

    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">Modifier</a>

    {{ include('assurance/_delete_form.html.twig') }}
{% endblock %}
