{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}



{% block body %}

    <link href="{{asset('/images/LogoApp.png') }}" rel="icon">
    <link href="{{asset('css/index.css') }}" rel="stylesheet">
     <link href="{{asset('css/registration.css') }}" rel="stylesheet">
    <div class="form">

    <div class="buttons-container">
    

    {# {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }} #}

    {{ form_start(form) }}
    <div class="buttons-container">
    {{ form_widget(form) }}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
    <button class="btn">{{ button_label|default('Update') }}</button>
    
    <a href="{{ path('app_utilisateur_index') }}">
    <button>Back To List</button>
    </a>

    {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
    {{ form_end(form) }}

    
{% endblock %}
