{% extends 'BackOffice/admin.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}

    <link href="{{asset('/images/LogoApp.png') }}" rel="icon">
    
    <h1>Utilisateur index</h1>

  <div class="users-containers">
    {% for utilisateur in utilisateurs %}
    <article class="user-card">
        <div class="user-image">
        </div>
        <div class="user-input_container">
            <div class="user-input">
                <div class="user-head">
                    Nom
                </div>
                <div class="user-value">
                    {{ utilisateur.nom }}
                </div>
            </div>
            <div class="user-input">
                <div class="user-head">
                    Prenom
                </div>
                <div class="user-value">
                    {{ utilisateur.prenom }}
                </div>
            </div>
        </div>
        <div class="user-input_container">
            <div class="user-input">
                <div class="user-head">
                    Email
                </div>
                <div class="user-value">
                    {{ utilisateur.email }}
                </div>
            </div>
        </div>
        <div class="user-input_container">
            <div class="user-input">
                <div class="user-head">
                    Phone Number
                </div>
                <div class="user-value">
                    {{ utilisateur.numTel }}
                </div>
            </div>
            <div class="user-input">
                <div class="user-head">
                    CIN
                </div>
                <div class="user-value">
                    {{ utilisateur.cin }}
                </div>
            </div>
        </div>
        <div class="user-input_container">
            <div class="user-input">
                <div class="user-head">
                    Age
                </div>
                <div class="user-value">
                    {{ utilisateur.age }}
                </div>
            </div>
            <div class="user-input">
                <div class="user-head">
                    Sex
                </div>
                <div class="user-value">
                    {{ utilisateur.sexe }}
                </div>
            </div>
        </div>
        <div class="user-informations">
            {% if utilisateur.isVerified %}
                <div class="user-verified tag">
                    Verified
                </div>
            {% endif %}
            {% set privilages = utilisateur.roles|json_encode|replace({'[': "", "]" : "",'"' : "", "ROLE_" : ""})|split(",")  %}
            {% for privilage in privilages %}
                <div data-privilage="{{privilage}}" class="tag">
                    {{privilage}}
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}" class="user-show">Show</a>
        <a href="{{ path('banUtilisateur') }}" class="user-ban">Ban</a>
    </article>
    {% endfor %}
  </div>

  <style>
  .users-containers{
    display:flex;
    width:100%;
    padding:1rem;
    gap:1rem;
    flex-wrap:wrap;
    background: linear-gradient( 90deg, rgb(14, 55, 145) 0%, rgb(82, 130, 184) 50% );
  }

  .user-card{
    width:calc(50% - 1rem);
    display:flex;
    flex-direction:column;
    padding:0.5rem;
    background-color:white;
    border-radius:8px;
    gap:0.5rem;
  }

  .user-input_container{
    display:flex;
    gap:0.5rem
  }

  .user-input{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:0.5rem;
  }

  .user-head{
    font-size:1.1em;
    color:#2f8ad0;
  }

  .user-value{
    font-size:1em;
    color:black
  }

  .tag{
    padding:0.25rem 0.5rem;
    border-radius:4px;
    background-color:#CCC;
    color:white;
  }

  .user-verified{
    background-color:#01a049;
  }

  .user-informations [data-privilage="ADMIN"]{
    background:#de0a26;
  }

   .user-informations [data-privilage="USER"]{
    background:#e6b400;
  }

  .user-show{
    border:none;
    padding: 0.75rem 1.5rem;
    width:100%;
    margin:0;
    margin-top:1rem;
    color:white;
    background-color:#2f8ad0;
    border-radius: 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition: background-color 0.6s ease;
  }
    .user-ban{
    border:none;
    padding: 0.75rem 1.5rem;
    width:100%;
    margin:0;
    margin-top:1rem;
    color:white;
    background-color:#DC143C;
    border-radius: 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition: background-color 0.6s ease;
  }

  .user-show:hover{
    transition: background-color 0.6s ease;
    color:white;
    background-color:#01a049;
  }

  </style>

    {# <a href="{{ path('app_register') }}">Create new</a> #}
{% endblock %}
