{% extends '/backoffice/base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <header class="main-header navbar">
    </header>
    <b class="screen-overlay"></b>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="{{ asset('images/LogoApp.png') }}" height="46" class="logo" alt="Healthified dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="{{path('app_default')}}"> <i class="icon material-icons md-home"></i>
                        <span class="text">Acceuil</span>
                    </a>
                </li>
                <li class="menu-item ">

                    <a class="menu-link"  href="{{path('app_produit_new')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Ajouter Produits</span>
                    </a>
                    <a class="menu-link"  href="{{path('app_categorie_index')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Afficher Categorie</span>
                    </a>
                    <a class="menu-link"  href="{{path('app_categorie_new')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Ajouter Categorie</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div style="
    margin-left: 300px;">
        <h1>Liste des commande</h1>
        <table class="table" border="1"  cellpadding="5" cellspacing="10" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>prix totale</th>
                <th>quantite des produit</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for c in commandes %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.prix }}DT</td>
                    <td>{{ c.quantite }}</td>
                    <td>
                        <a href="{{ path('app_commande_delete', {'id': c.id}) }}" class="btn btn-danger">delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
