{% extends 'BackOffice/ordonnance/base.html.twig' %}


{% block body %}

<section class="content-main">
    <div class="card mb-4">
        <div class="content-header">
            <h2 class="content-title">Liste de Médicaments</h2>
            <div>
                <a href="{{ path('app_medicaments_new') }}"  class="btn btn-primary"><i class="material-icons md-plus"></i>Ajouter</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                <thead>
                        <tr>
                            <th>Reference Medicament</th>
                            <th>Nom</th>
                            <th>Dosage</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>Opérations</th>
                        </tr>
                </thead>
                <tbody>
                        {% for medicament in medicaments %}
                            <tr>
                                <td>{{ medicament.referencemedicament }}</td>
                                <td>{{ medicament.nom }}</td>
                                <td>{{ medicament.dosage }}</td>
                                <td>{{ medicament.prix }}</td>
                                <td>{{ medicament.description }}</td>
                                <td>
                                    <a href="{{ path('app_medicaments_show', {'referencemedicament': medicament.referencemedicament}) }}">Supprimer</a>
                                    <a href="{{ path('app_medicaments_edit', {'referencemedicament': medicament.referencemedicament}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Liste Médicaments vide</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>

    </div>
</section>
{% endblock %}
