<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Healthified Dashboard{% endblock %}</title>
    <style>
      .btn-group {
        margin: 10px 0; /* Ajouter de la marge autour des boutons */
      }

      .afficher-btn {
        background-color: #DAD8E3; /* Couleur de fond verte */
        color: black; /* Couleur du texte blanc */
        border: none; /* Supprimer la bordure */
        padding: 5px 20px; /* Ajouter un espace autour du texte */
        text-align: center; /* Centrer le texte */
        text-decoration: none; /* Supprimer le soulignement */
        display: inline-block; /* Afficher en ligne */
        font-size: 16px; /* Taille de police de caractère */
        margin-right: 10px; /* Ajouter une marge à droite */
        cursor: pointer; /* Afficher un curseur pointer au survol */
      }

      .modifier-btn {
        background-color: #DAD8E3; /* Couleur de fond bleue */
        color: black; /* Couleur du texte blanc */
        border: none; /* Supprimer la bordure */
        padding: 5px 20px; /* Ajouter un espace autour du texte */
        text-align: center; /* Centrer le texte */
        text-decoration: none; /* Supprimer le soulignement */
        display: inline-block; /* Afficher en ligne */
        font-size: 16px; /* Taille de police de caractère */
        margin-right: 10px; /* Ajouter une marge à droite */
        cursor: pointer; /* Afficher un curseur pointer au survol */
      }
      .supprimer-btn {
        background-color: #FE7D33; /* Couleur de fond rouge */
        color: black; /* Couleur du texte blanc */
        border: none; /* Supprimer la bordure */
        padding: 5px 20px; /* Ajouter un espace autour du texte */
        text-align: center; /* Centrer le texte */
        text-decoration: none; /* Supprimer le soulignement */
        display: inline-block; /* Afficher en ligne */
        font-size: 16px; /* Taille de police de caractère */
        margin-right: 10px; /* Ajouter une marge à droite */
        cursor: pointer; /* Afficher un curseur pointer au survol */
      }
      .ajouter-btn {
        background-color: #8EC63F; /* Couleur de fond verte */
        color: black; /* Couleur du texte blanc */
        border: none; /* Supprimer la bordure */
        padding: 5px 20px; /* Ajouter un espace autour du texte */
        text-align: center; /* Centrer le texte */
        text-decoration: none; /* Supprimer le soulignement */
        display: inline-block; /* Afficher en ligne */
        font-size: 16px; /* Taille de police de caractère */
        margin-right: 10px; /* Ajouter une marge à droite */
        cursor: pointer; /* Afficher un curseur pointer au survol */
      }
      .enregistrer-btn {
        background-color: #8EC63F; /* Couleur de fond verte */
        color: black; /* Couleur du texte blanc */
        border: none; /* Supprimer la bordure */
        padding: 5px 20px; /* Ajouter un espace autour du texte */
        text-align: center; /* Centrer le texte */
        text-decoration: none; /* Supprimer le soulignement */
        display: inline-block; /* Afficher en ligne */
        font-size: 16px; /* Taille de police de caractère */
        margin-right: 10px; /* Ajouter une marge à droite */
        cursor: pointer; /* Afficher un curseur pointer au survol */
      }
      table,
      td, {
          border: 1px solid #333;
      }

      thead,
      tfoot {
          background-color: #333;
          color: #fff;
      }
      form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0;
      }

      form label {
        font-weight: bold;
        margin-top: 1rem;
        width: 100%;
      }

      form input, form select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 0.5rem;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
      }

      form button {
        background-color: #007bff;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        border: none;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 1rem;
      }

      /* Alignement à gauche */
      form {
        justify-content: flex-start;
        align-items: flex-start;
      }
    </style>
    <link href="{{ asset('images/LogoApp.png') }}" rel="shortcut icon" >
    <link href="{{ asset('css/bootstrapf9e3.css?v=1.1') }}" rel="stylesheet" />
        <!-- custom style -->
    <link href="{{ asset('css/uif9e3.css?v=1.1') }}" rel="stylesheet"/>
    <link href="{{ asset('css/responsivef9e3.css?v=1.1') }}" rel="stylesheet" />
    <link rel="icon" href="{{ asset('images/LogoApp2.png') }}">
    <link rel="stylesheet" href="{{ asset('fonts/material-icon/css/round.css') }}"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  </head>

  <body>
    <b class="screen-overlay"></b>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a href="index.html" class="brand-wrap">
          <img src="{{ asset('images/LogoApp.png') }}" height="46" class="logo" alt="Healthified dashboard">
        </a>
      </div> 
    <nav>
      <ul class="menu-aside">

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice"> <i class="icon material-icons md-home"></i> 
            <span class="text">Acceuil</span> 
          </a> 
        </li>

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice/assurance"> <i class="icon material-icons md-policy"></i> 
            <span class="text">Assurance</span> 
          </a> 
          <div class="submenu">
            <a href="/backoffice/assurance/new">Ajouter Assurance</a>
            <a href="/backoffice/assurance/edit">Modifier Assurance</a>
            <a href="/backoffice/assurance">Supprimer Assurance</a>
            <a href="/backoffice/assurance">Afficher Assurance</a>
          </div>
        </li>

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice/patient"> <i class="icon material-icons md-person"></i> 
            <span class="text">Patient</span> 
          </a> 
          <div class="submenu">
            <a href="/backoffice/patient/new">Ajouter Patient</a>
            <a href="/backoffice/patient/edit">Modifier Patient</a>
            <a href="/backoffice/patient">Supprimer Patient</a>
            <a href="/backoffice/patient">Afficher Patient</a>
          </div>
        </li>

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice/medicament"> <i class="icon material-icons md-medical_services"></i>

            <span class="text">Medicament</span> 
          </a> 
          <div class="submenu">
            <a href="/backoffice/medicament/new">Ajouter Medicament</a>
            <a href="/backoffice/medicament/edit">Modifier Medicament</a>
            <a href="/backoffice/medicament">Supprimer Medicament</a>
            <a href="/backoffice/medicament">Afficher Medicament</a>
          </div>
        </li>

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice/fiche"> <i class="icon material-icons md-insert_drive_file"></i> 
            <span class="text">Fiche</span> 
          </a> 
          <div class="submenu">
            <a href="/backoffice/fiche/new">Ajouter Fiche</a>
            <a href="/backoffice/fiche/edit">Modifier Fiche</a>
            <a href="/backoffice/fiche">Supprimer Fiche</a>
            <a href="/backoffice/fiche">Afficher Fiche</a>
          </div>
        </li>

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice/depot"> <i class="icon material-icons md-folder"></i>
            <span class="text">Depot</span> 
          </a> 
          <div class="submenu">
            <a href="/backoffice/depot/new">Ajouter Depot</a>
            <a href="/backoffice/depot/{id}/edit">Modifier Depot</a>
            <a href="/backoffice/depot/{id}">Supprimer Depot</a>
            <a href="/backoffice/depot/{id}">Afficher Depot</a>
          </div>
        </li> 

        <li class="menu-item"> 
          <a class="menu-link" href="/backoffice/remboursement"> <i class="icon material-icons md-attach_money"></i> 
            <span class="text">Remboursement</span> 
          </a> 
          <div class="submenu">
            <a href="/backoffice/remboursement/new">Ajouter Remboursement</a>
            <a href="/backoffice/remboursement/edit">Modifier Remboursement</a>
            <a href="/backoffice/remboursement">Supprimer Remboursement</a>
            <a href="/backoffice/remboursement">Afficher Remboursement</a>
          </div>
        </li>
      </ul>
    </nav>
    </aside>

    <main class="main-wrap"> 
      <header class="main-header navbar">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <span>Admin</span>
          <i class="feather icon-chevron-down"></i>
        </div>
      </header>

  {% block body %}
    <h1 class="h2">Dashboard</h1>
  {% endblock %}
  </main>

  </body>
</html>
    