{% extends '/backoffice/base.html.twig' %}


{% block title %}Categorie{% endblock %}

{% block body %}
    <header class="main-header navbar">
    </header>
    <b class="screen-overlay"></b>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="{{ asset('images/LogoApp.png') }}" height="46" class="logo" alt="Healthified dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="{{path('app_default')}}"> <i class="icon material-icons md-home"></i>
                        <span class="text">Acceuil</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link"  href="{{path('app_categorie_new')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Ajouter Categorie</span>
                    </a>
                    <a class="menu-link"  href="{{path('app_produit_new')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Ajouter Produits</span>
                    </a>
                    <a class="menu-link"  href="{{path('app_produit_index')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Afficher produit</span>
                    </a>
                    <a class="menu-link"  href="{{path('app_commande_index')}}"> <i class="icon material-icons md-category"></i>
                        <span class="text">Afficher commande</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
<div style="
    margin-left: 300px;">
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}"class="btn btn-secondary">back to list</a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"class="btn btn-secondary">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
</div>
{% endblock %}
