{% extends 'BackOffice/consultation/base.html.twig' %}

{% block title %}Modifier Ordonnance{% endblock %}

{% block body %}
<section class="content-main">
    <div class="card mb-4">
        <div class="content-header">
            <h2 class="content-title">Modifier Ordonnance</h2>
            <a href="{{ path('app_ordonnance_index')}}" class="btn btn-outline-danger"> &times; Annuler</a>
        </div>
    </div>
    <div class="card-body">

    {{ include('BackOffice/ordonnance/_form.html.twig', {'button_label': 'Modifier'}) }}

    {# <a href="{{ path('app_consultation_index') }}">back to list</a> #}
    <br>
    <a  class="btn btn-primary" href="{{ path('app_ordonnance_index') }}">Liste</a>

    {# {{ include('BackOffice/ordonnance/_delete_form.html.twig') }} #}
    </div>
</section>

{% endblock %}
